.listImgae {
  /* border-dashed min-h-[200px] p-5 mt-[10px] border-gray-300 rounded-[3px] border-2 flex justify-center items-center */

  min-height: 200px;
  padding: 5px;
  margin-top: 10px;
  border: 2px dashed gray;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
